<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué otros templating engines existen para node?</title>
</head>
<body>
    <h1>¿Qué otros templating engines existen para node?</h1>
    <p>Existen varios ejemplos, tales como: EJS, Pug, Handlebars, Mustache,
        Nunjucks, Marko y Dust.js. Cada uno de ellos tiene sus ventajas y 
        desventajas para el projecto, pero en general funcionan para hacer un
        HTML dinamico y que sea eficiente. Son para poder dividir un servidor de 
        manera logica y ordenada.
    </p>
</body>